/* {
   margin:0;
   padding:0;
   box-sizing: border-box;
 } 
 h1{
   margin: auto;
   text-align: center;
   color: hsl(238, 80%, 22%);
   font-family: georgia, sans serif;
   font-size: bold;
}
.head{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 50px;
   padding: 20px;
}
.head img{
   width: 150px;
   height: 100px;
}  */
/* *{
   margin:0;
   padding:0;
   box-sizing: border-box; */
 /* } 
 .results{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
 }
 .card{
   border: solid 1px black;
   border-radius: 5px;
   padding: 5px;
 } */
 *{
   margin:0;
   padding:0;
   box-sizing: border-box;
 } 
 #courses{
   display: flex;
   flex-direction: column;
   width: 100%;
  
 }
 #courses li {
   background-color: aqua;
   list-style: none;
   list-style: none;
   padding: 18px;
   font-size: x-large;
 }